*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}

.cakeimg{
   width: 400px;
   height: 400px;
   border: 1px;
}



.cakeimg > img{
    width: 400px;
    height: 400px;
     object-fit: cover;
     border: 1px;
}

